body {
	background-image: url("/img/ahegao.jpg");
}
p {
	font-size: 500%;
	color: #FF0000;
	text-align: center;
}
video {
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 70%;
}
