body {
	background-image: url("/img/edved.jpg");
}
p {
	font-size: 1000%;
	color: #FF0000;
}
a {
	color: inherit;
}
label {
    position: absolute;
    bottom: 0px;
    right: 0px;
    color: #000000;
    font-size: 10%;
}
