{% if state == "on" %}
<input type="checkbox" checked="checked" disabled>
{% elif state == "off" %}
<input type="checkbox" class="todo" disabled>
{% else %}
<input type="checkbox" class="todo" disabled>
{% endif %}
