.abs-block {
    position: relative;
    left: 50%;
    width: 50%;
    transform: translate(-50%, 0%);
    border-width: 3px;
    padding: 10px;
    border-style: solid;
    border-color: #000;
    background-color: rgba(255, 255, 255, .2);
}

@media only screen and (max-width: 1000px) {
    .abs-block {
	width: 60%;
    }
}

@media only screen and (max-width: 600px) {
    .abs-block {
	width: 70%;
    }
}

@media only screen and (max-width: 400px) {
    .abs-block {
	width: 90%;
    }
}

#bg-video {
  position: fixed;
  right: 50%;
  bottom: 50%;
  min-height: 100%;
  min-width: 100%;
  transform: translate(50%, 50%);
}

.content {
  position: fixed;
  top: 10%;
  background: rgba(0, 0, 0, 0);
  color: #f1f1f1;
  width: 100%;
}


.title-block {
    font-size: 40px;
    text-align: center;
    color: #000000;
    border-width: 3px 3px 0px 3px !important;
    border-style: dashed;
}
.title-block div{
    display: inline;
}

.center-block {
    font-size: 25px;
    text-align: left;
    color: #000000;
}

#lambda {
    color: #eb0ab0;
}

#tilde {
    color: #00fbfa;
}

.interactive {
    color: #000000;
    text-decoration: underline;
    text-decoration-color: #000000;
}

.interactive:hover {
    cursor: pointer;
    color: #000000;
    text-decoration: underline;
    text-decoration-color: #c70eb8;
}

.cmd {
    display: inline;
}

body {
    background-color: #222;
    font-family: "Hack";
}

.cmd i {
    font-size: 40px;
}

.center-block a {
    color: #000000;
    text-decoration: none;
}
.center-block a:hover {
    color: #d30cb8;
    text-decoration: bold;
}
