.section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.section h1 {
    text-align: center;
    font-size: 6rem;
    font-family: "Cookie";
    padding: 20px;
    margin: 15px;
    z-index: 1;
    opacity: 0.7;
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.color-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: lightblue;
    width: 100%;
    height: 100vh;
    opacity: 0.5;
}

.abs-block {
    left: 50%;
    width: 40%;
    transform: translate(-50%, 0%);
    border-width: 3px;
    padding: 10px;
    border-style: solid;
    border-color: #000;
    background-color: rgba(255, 255, 255, .2);
}

.title-block {
    font-size: 40px;
    text-align: center;
    color: #000000;
    border-width: 3px 3px 0px 3px !important;
    border-style: dashed;
}
.title-block div{
    display: inline;
}

.center-block {
    font-size: 25px;
    text-align: left;
    color: #000000;
}

#lambda {
    color: #8b0a80;
}

#tilde {
    color: #00ebfa;
}

.interactive {
    color: #000000;
    text-decoration: underline;
    text-decoration-color: #000000;
}

.interactive:hover {
    cursor: pointer;
    color: #000000;
    text-decoration: underline;
    text-decoration-color: #c70eb8;
}

.cmd {
    display: inline;
}

body {
    background-color: #222;
    font-family: "Hack";
}

.cmd i {
    font-size: 40px;
}

.center-block a {
    color: #000000;
    text-decoration: none;
}
.center-block a:hover {
    color: #d30cb8;
    text-decoration: bold;
}
