<code
  class="py-px px-1 bg-code-secondary-light dark:bg-code-secondary-dark text-code-light dark:text-code-dark border border-code-secondary-fade-light dark:border-code-secondary-fade-dark font-['Iosevka_Web']"
  >{{contents}}</code>
