<hr class="mt-4 mb-2 border-secondary-light dark:border-secondary-dark">
{% for fn in footnotes %}
<div class="mt-2" id="fn-{{ fn.id }}">
<sup class="mr-2 font-bold underline text-lg ">{{ fn.id }}</sup>{{ fn.content }}
</div>
{% endfor %}
