<details class="my-2">
  <summary><h{{ level }} class="inline font-bold {% if level == 1 %}text-xl border-code-dim-light dark:border-code-dim-dark text-code-dim-light dark:text-code-dim-dark{% else %}my-1{% endif %} border-b-2 border-dotted" id="{{ref}}">{{prefix}} {% if todo_keyword %}{{todo_keyword}} {% endif %}{{title}}</h1></summary>
  {% if contents %}{{contents}}{% endif %}
</details>
