<div class="flex flex-row w-full text-base">
  <!-- ScrollSpy -->
  {% if toc %}
  <nav id="toc" class="h-screen sticky top-0 w-sidebar bg-code-secondary-light dark:bg-code-secondary-dark dark:text-secondary-dark text-secondary-light flex-none font-['Iosevka_Web']">
    <div class="h-full overflow-y-auto pr-3 scrollbar dark:scrollbar-dark">
      {{toc}}
    </div>
  </nav>
  {% endif %}
  <div class="min-w-0 min-h-screen grow flex w-full flex-col items-center dark:bg-primary-dark bg-primary-light dark:text-secondary-dark text-secondary-light font-['Iosevka_Web']">
    <header id="header" class="h-fit w-full flex flex-row flex-wrap justify-between bg-code-secondary-light dark:bg-code-secondary-dark">
      <div class="inline">
	{% if toc %}
	<button id="toggle-toc-btn" type="button" class="m-3 underline hover:no-underline hover:text-link-active text-link-inactive-light dark:text-link-inactive-dark">toggle toc</button>
	{% endif %}
      </div>
      <span class="m-3"><a href="{{base_url}}" class="underline hover:no-underline hover:text-link-active text-link-inactive-light dark:text-link-inactive-dark">{{base_title}}</a></span>
      <button id="toggle-light-btn" type="button" class="m-3 underline hover:no-underline hover:text-link-active text-link-inactive-light dark:text-link-inactive-dark">toggle dark</button>
    </header>
    <div class="w-full flex flex-row justify-center p-3 grow">
      <div class="max-w-3xl grow overflow-auto">
	{{contents}}
	{% if footnotes %}
	{{footnotes}}
	{% endif %}
      </div>
    </div>
    <div class="h-fit w-full p-3 flex justify-center bg-code-secondary-light dark:bg-code-secondary-dark">
      <div>
	Made with <a href="https://orgmode.org" class="underline hover:no-underline hover:text-link-active text-link-inactive-light dark:text-link-inactive-dark">Org mode</a>, © 2023 - ∞ iliayar
      </div>
      <!-- Right: Github -->
    </div>
  </div>
