<pre class="my-3"><code class="!p-2 scrollbar dark:scrollbar-dark language-{{lang}} font-['Iosevka_Web'] border-code-secondary-fade-light dark:border-code-secondary-fade-dark border">{{code}}</code></pre>
