<!DOCTYPE html>
<html lang="en" class="dark">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{res_base_url}}/css/tailwind.css" rel="stylesheet"/>
    <link href="{{res_base_url}}/css/hljs-light.css" rel="alternate stylesheet" title="hljs-light" disabled="disabled"/>
    <link href="{{res_base_url}}/css/hljs-dark.css" rel="alternate stylesheet" title="hljs-dark" disabled="disabled"/>
    <link href="{{res_base_url}}/css/style.css" rel="stylesheet"/>

    <link href="{{res_base_url}}/fonts/iosevka.css" rel="stylesheet"/>

    <link href="{{res_base_url}}/fonts/css/fontawesome.min.css" rel="stylesheet"/>
    <link href="{{res_base_url}}/fonts/css/brands.min.css" rel="stylesheet"/>
    <link href="{{res_base_url}}/fonts/css/solid.min.css" rel="stylesheet"/>

    <script id="MathJax-script" async src="{{res_base_url}}/js/mathjax/tex-mml-chtml.js"></script>
    <script src="{{res_base_url}}/js/highlight.js"></script>
    <script>hljs.highlightAll({showLanguageLabel: true})</script>

    <title>{% if title %}{{title}} | {% endif %}{{base_title}}</title>

    {% if matomo_host %}
    <!-- Matomo -->
    <script>
      var _paq = window._paq = window._paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//{{matomo_host}}/";
	  _paq.push(['setTrackerUrl', u+'matomo.php']);
	  _paq.push(['setSiteId', '1']);
	  var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
	  g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <!-- End Matomo Code -->
    {% endif %}

  </head>
  <body class="">
  <!-- <body class="scrollbar dark:scrollbar-dark "> -->
    {{contents}}
    <script src="{{res_base_url}}/js/utils.js"></script>
    <script type="module">
      import mermaid from "{{res_base_url}}/js/mermaid/mermaid.esm.min.mjs";
    </script>
  </body>
</html>
