<!doctype html>
<html lang="en" class="dark">
  <head>
    <meta charset="utf-8">
    <link href="https://ilyay.space/css/tailwind.css" rel="stylesheet"/>
    <link href="https://ilyay.space/css/hljs-light.css" rel="alternate stylesheet" title="hljs-light" disabled="disabled"/>
    <link href="https://ilyay.space/css/hljs-dark.css" rel="alternate stylesheet" title="hljs-dark" disabled="disabled"/>
    <link href="https://ilyay.space/css/style.css" rel="stylesheet"/>

    <link href="https://ilyay.space/fonts/iosevka.css" rel="stylesheet"/>

    <script id="MathJax-script" async src="https://ilyay.space/js/mathjax/tex-mml-chtml.js"></script>
    <script src="https://ilyay.space/js/highlight.js"></script>
    <script>hljs.highlightAll({showLanguageLabel: true})</script>
  </head>
  <body class="scrollbar dark:scrollbar-dark ">
    {{contents}}
    <script src="https://ilyay.space/js/utils.js"></script>
    <script type="module">
      import mermaid from "https://ilyay.space/js/mermaid/mermaid.esm.min.mjs";
    </script>
  </body>
</html>
