.org-builtin {
    /* font-lock-builtin-face */
    color: #fd971f;
}
.org-comment {
    /* font-lock-comment-face */
    color: #555556;
}
.org-comment-delimiter {
    /* font-lock-comment-delimiter-face */
    color: #555556;
}
.org-custom {
    /* (:inherit hl-todo :foreground "#afd8af") */
    color: #afd8af;
}
.org-function-name {
    /* font-lock-function-name-face */
    color: #b6e63e;
}
.org-hl-line {
    /* hl-line */
    background-color: #222323;
}
.org-keyword {
    /* font-lock-keyword-face */
    color: #fb2874;
}
.org-rainbow-delimiters-depth-1 {
    /* rainbow-delimiters-depth-1-face */
    color: #fb2874;
}
.org-rainbow-delimiters-depth-2 {
    /* rainbow-delimiters-depth-2-face */
    color: #fd971f;
}
.org-rainbow-delimiters-depth-3 {
    /* rainbow-delimiters-depth-3-face */
    color: #b6e63e;
}
.org-string {
    /* font-lock-string-face */
    color: #e2c770;
}
.org-variable-name {
    /* font-lock-variable-name-face */
    color: #fd971f;
}
