/* This style sheet configures the home page of Note */

@import url("./style.css");
/* Don't number each post header.  */
.section-number-2 { display: none; }

/* Hide tags. */
span.tag { display: none; }

#text-table-of-contents  li {
    margin: 0.3em;
    padding: 0.1em;
    border-radius: 0.2em;
}

#text-table-of-contents ul {
    list-style-type: none;
}

