/* This style sheet configures the basic style of Note */

@import url("./default-style.css");

:root {
    --background: #0a0e14;
    --code-background: #1c1e1f;
    --foreground: #b3b1ad;
    --code-foreground: #f8f8f2;
    --comment: #75715E;
    --red: #ff3333;
    --orange: #ff8f40;
    --gray: #b3b1ad;
    --yellow: #E6DB74;
    --blue: #59c2ff;
    --green: #c2d94c;
}

.src-artist {
    overflow: scroll;
}

.theorem p, .lemma p, .proof p, .task p, .examp p, .solution p {
    margin-left: 40px;
}

.todo {
    color: var(--gray);
    text-shadow: 0 0 10px var(--gray);
}
.fixme {
    color: var(--red);
    text-shadow: 0 0 10px var(--red);
}

.done {
    color: var(--green);
    text-shadow: 0 0 10px var(--green);
}

.linenr {
    color: var(--comment);
}

html {
    --code-font-size: 13px;
    --landscape-body-width: 50%;
    --landscape-sidebar-width: 25%;
}

.verse {
  padding: 20px;
  box-shadow: inset 0px -5px 10px var(--comment);
  border: solid 2px;
  border-color: var(--comment);
}

/* TODO: What does this do? */
.figure p {
    font-size: 9pt;
    font-weight: 200;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

h1, h2, h3 {
    text-shadow: 0 0 8px var(--orange);
    margin-top: 1.4em;
    margin-bottom: 1.4em;
    color: var(--orange)
}

#table-of-contents h2 {
    margin-bottom: 0em;
}

#table-of-contents a {
    margin-bottom: 2em;
    /* color: var(--green) !important; */
}

p {
    margin-top: 1em;
    margin-bottom: 1em;
}

h2, h3 { font-weight: bold; }

.title {
    font-weight: normal;
    font-size: 50px;
}

h2 { font-size: 22px; }

h3 { font-size: 18px; }

img { max-width: 100%; }

a {
    text-shadow: 0 0 3px var(--blue);
    color: var(--blue) !important;
}

code, .src, pre, code:lang(zh), .src:lang(zh), pre:lang(zh) {
    font-family: ui-mono, monospace;
    font-size: var(--code-font-size);
}

::-webkit-scrollbar
{
    width: 10px;  /* for vertical scrollbars */
    height: 10px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
    background: var(--background);
}

::-webkit-scrollbar-thumb
{
    background: var(--foreground);
}

code, .example, .src {
    overflow-x: scroll;
    padding: 2px;
    background-color: var(--code-background);
    border-radius: 3px;
    color: var(--code-foreground);
}

/* Portrait */
@media screen and (max-width: 1023px) {
    /* defined for all device */
    body {
        margin-left: 7%;
        margin-right: 7%;
        width: 86%;
    }
}

@media print {
    div#org-div-home-and-up, div#org-div-home-and-up-index-page,
    div#table-of-contents, div#taglist {
        display: none !important;
    }

    .title { font-size: 40px; }
    
    body {
        margin: auto;
        width: 70%;
    }
}
