/* This style sheet configures the basic style of Note */

@import url("./default-style.css");

:root {
    --background: #101010;
    --foreground: #F8F8F2;
    --comment: #75715E;
    --red: #F92672;
    --orange: #FD971F;
    --light-orange: #E69F66;
    --yellow: #E6DB74;
    --green: #A6E22E;
    --blue: #66D9EF;
    --purple: #AE81FF;
}

.src-artist {
    overflow: scroll;
}

.theorem p, .lemma p, .proof p, .task p, .examp p, .solution p {
    margin-left: 40px;
}

.linenr {
    color: var(--comment);
}

html {
    --code-font-size: 13px;
    --landscape-body-width: 50%;
    --landscape-sidebar-width: 25%;
}

.verse {
  padding: 20px;
  box-shadow: inset 0px -5px 10px var(--comment);
  border: solid 2px var(--comment);
}

/* TODO: What does this do? */
.figure p {
    font-size: 9pt;
    font-weight: 200;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

h1 {
    color: var(--red);    
}

h2, h3 {
    margin-top: 1.4em;
    margin-bottom: 1.4em;
    color: var(--orange)
}

#table-of-contents h2 {
    margin-bottom: 0em;
}

#table-of-contents a {
    margin-bottom: 2em;
    color: var(--green) !important;
}

p {
    margin-top: 1em;
    margin-bottom: 1em;
}

h2, h3 { font-weight: bold; }

.title {
    font-weight: normal;
    font-size: 50px;
}

h2 { font-size: 22px; }

h3 { font-size: 18px; }

img { max-width: 100%; }

code, .src, pre, code:lang(zh), .src:lang(zh), pre:lang(zh) {
    font-family: ui-mono, monospace;
    font-size: var(--code-font-size);
}

code, .example, .src {
    background-color: var(--background);
    // overflow-x: scroll;
    padding: 5px;
    border-radius: 5px;
    border: solid 2px var(--comment);
}

/* Portrait */
@media screen and (max-width: 1023px) {
    /* defined for all device */
    body {
        margin-left: 7%;
        margin-right: 7%;
        width: 86%;
    }
}

@media print {
    div#org-div-home-and-up, div#org-div-home-and-up-index-page,
    div#table-of-contents, div#taglist {
        display: none !important;
    }

    .title { font-size: 40px; }
    
    body {
        margin: auto;
        width: 70%;
    }
}
