<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
  </head>
  <body>
    <h1>Speedtest</h1>
    <div class='content'>
      <div id="output" class="output">
	<div><label>Ping: </label><code id="ping"></code></div>
	<div><label>Download: </label><code id="download"></code></div>
	<div><label>Upload: </label><code id="upload"></code></div>
      </div>
      <img id="image-result" hidden/>
    </div>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
  </body>
</html>
