<a href="https://ilyay.space/rss.xml" target="_blank" class="pr-1 hover:text-link-active dark:hover:text-link-active"><i class="text-xl fa-solid fa-rss"></i></a> 
<a href="https://github.com/iliayar" target="_blank" class="pr-1 hover:text-link-active dark:hover:text-link-active"><i class="text-xl fa-brands fa-github"></i></a> 
<a href="https://t.me/iliayar" target="_blank" class="pr-1 hover:text-link-active dark:hover:text-link-active"><i class="text-xl fa-brands fa-telegram"></i></a> 
<a href="https://linkedin.com/in/iliayar" target="_blank" class="pr-1 hover:text-link-active dark:hover:text-link-active"><i class="text-xl fa-brands fa-linkedin"></i></a> 
<a href="mailto:iliayar3@gmail.com" class="pr-1 hover:text-link-active dark:hover:text-link-active"><i class="text-xl fa-solid fa-envelope"></i></a> 
